#caption-overlay {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0,0,0,0.6);
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 12px;
  max-width: 80%;
  text-align: center;
  z-index: 999999;
  max-height: 80px;
  cursor: "move";
  resize: "both";
  user-select: none;
  font-family: "Comic Sans MS", "Comic Sans", Arial, Helvetica, sans-serif;
}
